@import "variables";

body {
  overflow: scroll;
}

.page-wrapper {
  width: 600vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200vw 400vw;
  grid-template-rows: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 20vw;
  scroll-behavior: smooth;
}

// ZEN INTRO
#zen-intro {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 100vw);
  grid-template-rows: repeat(2, 50vh);
}

header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#zen-summary {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#zen-preamble {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

// ZEN SUPPORTING
#zen-supporting {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(5, 100vw);
  grid-template-rows: 95vh 5vh;
}

#zen-explanation {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
#zen-participation {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
#zen-benefits {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
#zen-requirements {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
footer {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  text-align: center;
}

header,
#zen-summary,
#zen-preamble,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
footer {
  scroll-snap-align: start;
}
