// FONTS:
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$body-font: "Rubik", sans-serif;
$heading-font: "Rubik Mono One", monospace;

// COLORS:
$heading-color: #0e151a;
$body-color: #2a3d4c;
$black: #0e151a;
$dark-blue: #2a3d4c;
$blue: #0273ba;
$green: #275f2e;
$yellow: #eca203;
$red: #e80f00;

//SIZES:
$max-width: 500px;
$sidebar-width: 300px;
